body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin: auto;
}

.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: hidden;
}

.chat {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat::-webkit-scrollbar {
  display: none;
}

.input-chat-container {
  margin-top: 10px;
}

.input-chat {
  width: calc(100% - 50px);
  padding: 5px;
}

.submit-chat {
  padding: 5px;
}

.my-message-container {
  text-align: right;
}

.another-message-container {
  text-align: left;
}

.my-message, .another-message {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.my-message {
  background-color: #d1e7dd;
}

.another-message {
  background-color: #f8d7da;
}

.client, .date, .message {
  margin: 0;
}

.client {
  font-weight: bold;
}

.date {
  color: gray;
  font-size: 0.8em;
}
