body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin: auto;
}

.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat::-webkit-scrollbar {
  display: none;
}

.input-chat-container {
  display: flex;
  align-items: center;
}

.input-chat {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.submit-chat {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-chat:hover {
  background-color: #0056b3;
}

.my-message-container {
  text-align: right;
}

.another-message-container {
  text-align: left;
}

.my-message, .another-message {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.my-message {
  background-color: #d1e7dd;
}

.another-message {
  background-color: #f0e68c;
}

.client, .date, .message {
  margin: 0;
}

.client {
  font-weight: bold;
}

.date {
  color: gray;
  font-size: 0.8em;
}
